.html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.body{
    position: relative;
    width: 103%;
    height: 100%;
    overflow-y:auto;
}
#about{
    background-color: #F9F9F5;
}
#frame{
    background-color:#123456;
}
#skill{
    background-color: #286;
}
div.nav-list{
    position: fixed;
    float: right;
    width: 105px;
    bottom: 5em;
    right: 0px;
}
li.active a{
     color: #555;
     background-color: #fff;
     border: 1px solid #ddd;
     border-bottom-color: transparent;
}
#navbar-ul{
    border-bottom: 0px;
}
.list-group, .list-group div{
    width: 100%;
    height: 100%;
}


