body{
    position: relative;
}
html,body{
    height: 100%;
    width: 100%;
}
hr{
   border-top: 1px solid rgba(255, 255, 255, 0.14);
}
.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 300px;
}
ul {
    padding: 0px;
}
li.post div.img{
    float: left;
    margin-right: 10px;
}
li.post div.head{
    height: 50px;
    width: 100%;
}
div.head-show{
    font-size: 45px;
    text-align: center;
    height: 400px;
    background: url(/static/head_show.jpg) no-repeat  center center;
    background-size: cover;
}
div.nav-list{
     position: fixed;
     float: right;
     width: 105px;
     bottom: 5em;
     right: 0px;
}
div.head-show div.color{
    background-color: black;
    height: 400px;
    color: white;
    opacity: 0.3;
    padding-top: 176px;
    filter:alpha(opacity=40);
}
div.block{
     margin-left: auto;
     margin-right: auto;
     height: 800px;
     width: 100%;
}
div.comment-form{
    margin-left: 30px;
    margin-top: 30px;
}
li.post div.time{
    float: right;
}
div.comments li.post{
    margin-left: 30px;
}
li.post div.authorname{
    float: left;
}
ul.posts li.post div.post-body{
     height: 100px;
     overflow: hidden;
}
ul.posts {
    list-style-type: none;
    width: 100%:
    float: left;
    padding: 0px;
    margin-top: 10px;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-hight{
    margin-bottom: 25px;
}
ul.followed-by{
    background-color: #E3E8E6;
    width: 100%;
}
div.comment{
     border-top: thin solid;
     padding-top: 10px;
     padding-left: 5px;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.article-author{
    height: 180px;
    border-bottom: thin solid;
}
div.article-btn-edit{
    text-align: right;
}
a.btn-editpost{
    margin-top: 20px;
}
a.article-username{
     font-size: 30px;
}
div.article-head{
    float:left;
    width:20%;
}
div.followed-by{
    text-align: center;
    height: 350px;
    background-color:lightblue;
}
div.user-img{
    height: 150px;
    padding: 40px;
    background-color: darkgray;
}
div.followed-info{
    margin-top: 100px;
}
a.back-main{
    margin-right: 10px;
}
div.article-body{
     margin-top:10px;
     padding-left: 10px;
     padding-bottom: 5px;
}
div.article-userinfo{
    float:left;
    height:150px;
    width:80%;
}
div.no-post{
     font-size: 50px;
     width: 100%;
     text-align: center;
     margin-top: 100px;
}
div.index-body{
     max-width: 620px;
     margin: 0 auto;
     text-align: center;
}
div.index-body .center{
     width: 283px;
     font-size: 1.5em;
     margin: 0 auto;
     position: relative;
}

div.nav-header{
     padding-top: 16px;
}
div.nav-head .site{
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(51, 51, 51, 0.8);
}
div.nav-head .site ul{
     width: 60%;
     padding: 10px;
     margin: 0 auto;
}
div.nav-head .site li{
     margin: 10px;
}
div.nav-head .site a{
    border-radius: 20px;
    border: 1px solid;

}
div.index-opacity{
    color: white;
}
div.index-opacity .nav-head{
    display: none;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: cadetblue;
    opacity: 0.3;
    top: 0;
}
div.index-font{
    font-size: 1.2em;
}
div.index-font .short-line{
    width: 15%;
    margin-bottom: 30px;
}
div.index-font .long-line{
    width: 50%;
    margin-top: 25px;
}
div.center li{
    margin-left: 5px;
    margin-right: 5px;
}
div.center a{
    border: 1px solid;
    border-radius: 20px;
    line-height: 0px;
}
div.able-or-not{
    text-align: right;
}
textarea.form-control{
    height: 400px;
    width: 550px;
}
textarea.flask-pagedown-input{
    float: left;
    background-color:rgba(45, 45, 45, 0.95);
    color:azure;
}
div.index-bgcolor{
    width: 100%;
    height: 100%;
    display: table;
    background-color: #005F6F;
}
div.index-opacity{
     display: table-cell;
     vertical-align: middle;
}
div.flask-pagedown-preview{
    float: left;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: gray;
    overflow:scroll;
    padding: 10px;
    margin-left: 10px;
    height: 400px;
    width: 550px;
}
div.fans{
    width: 100%;
    float: left;
}
div.fans-icon{
    padding-left: 20%;
}
li.fans{
    list-style-type: none;
    width: 25%;
    height: 300px;
    padding: 25px;
    border: 4px solid #FFFFFF;
    border-left: none;
    border-bottom: none;
    background: #E3E8E6;
    float: left;
}
div.fans-profile{
    margin: 5px;
    width: 80%;
}
#follower-name{
    font-size: 25px;
    width: 55%;
    float: left;
    text-align: center;
}
#follower-profile{
    float: left;
}
#navbar{
    background-color: rgb(51,55,60);
    border-radius: 0px;
}
#submit{
    margin-top:10px;
}
#about{
    background-color: #F9F9F5;
}
#frame{
    background-color:#123456;
}
#skill{
     background-color: #286;
}
#navbar{
    margin-bottom: 0px;
    width: 100%;
}
#navbar-ul{
    border-bottom: 0px;
}
@media (max-width: 960px) {
    .center-mobile{
        display: none;}

    #nav-head{
        display: block;
    }

    .nav-mobile{
        display: block;
        margin: 0 auto;
        padding: 0px;
        font-size: 25px;
        float: none;
     }

}
