body{
    position: relative;
    background-color: #F6F6F6;
    font-family:"lucida grande", "lucida sans unicode", lucida,
    helvetica, "Hiragino Sans GB", "Microsoft YaHei", 
    "WenQuanYi Micro Hei", sans-serif;
}
body.follows{
    background: #F2E5D2;
}
.post img{
    width: 100%;
}

html,body{
    height: 100%;
    width: 100%;
}
hr{
   border-top: 1px solid rgba(87,41,15,0.3);
}
body a{
    color: rgba(87,41,15,0.8);
}
a:hover{
    color: #D3A15B;
    text-decoration: none;
}
em {
    font-style: normal;
}
.container{
    width: 100%;
    padding: 0;
}
.container_60{
    width: 60%;
    margin: 0 auto;
}
.alert-warning{
    position: absolute;
    top: 40px;
    width: 100%;
}
.body_bg .container_60{
    width:1000px;
}
.container.body_bg{
    background: url('fans_bg.jpg') no-repeat;
    background-position: center -80px;
    padding-top: 20px;
    background-color: #F2E5D2;
}
.container.body_bg ul.pagination{
     opacity: 0.9;
}
.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 300px;
}
ul {
    padding: 0px;
}
li.post div.img{
    float: left;
    margin-right: 10px;
}
li.post div.head{
    height: 50px;
    width: 100%;
}
.unconfired .page-header{
    margin-top: 0px;
    padding: 70px;
}
.unconfired .page-header h1{
    margin: 0px;
}

div.head-show div.color{
    background-color: black;
    height: 400px;
    color: white;
    opacity: 0.3;
    padding-top: 176px;
    filter:alpha(opacity=40);
}
div.full-title{
    height: 100%;
    width: 100%;
}
div.left-title{
    height: 100%;
    float: left;
    width: 25%;
    position: fixed;
    bottom: 0px;
}

.login-header, .login-info{
    padding: 10px 0;
    background-color: rgba(255,255,255,0.3);
}
.login-header h1{
    margin-top: 10px;
}
.login-info{
    padding-top: 15px;
    width: 100%;
}

.login-header{
    text-align: center;
}
.login .col-md-7.center{
    width: 280px;
}
.login #submit{
    margin: 0 0 10px 10px;
    width: 240px;
}
.register .col-md-4{
    float: none;
    width: 300px;
    padding-bottom: 10px;
    margin: 0 auto;
}
.register input{
     width: 100%;
     padding: 10px;
     margin-bottom: 10px;
}
.register .col-md-4 #submit{
    margin: 0px;
}
div.mobile-left-title{
    height: 40px;
    float: none;
    width: 100%;
}
.post .alert{
     position: static;
}
div.block{
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    width: 100%;
}
div.comment-form{
    margin-left: 30px;
    margin-top: 30px;
}
li.post div.time{
    float: right;
}
div.comments li.post{
    margin-left: 30px;
}
div.comment-info .danger{
    color: red;
    font-style: oblique;
}
li.post div.authorname{
    float: left;
}
ul.posts li.post div.post-body{
    height: 60px;
    font-size: 25px;
    color: rgba(0,0,0,0.7);
    padding-top: 20px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}
ul.posts {
    list-style-type: none;
    width: 100%:
    float: left;
    padding: 0px;
    margin-top: 10px;
}
ul.posts li.post {
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
    text-decoration: none;
}
ul.posts .post-more{
     height: 30px;
}
ul.posts .post-more li{
    list-style-type: none;
    color: #999999;
    float: left;
}
ul.posts em{
    font-size: 12px;
}
div.post-hight{
    margin-bottom: 25px;
}
ul.followed-by{

    width: 100%;
}
.followed-by .user-img img{
    width: 200px;
    height: 200px;
}
.followed-by .fans-icon img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
div.comment{
    border-top: thin solid;
    padding-top: 10px;
    padding-left: 5px;
}
div.post-date {
    float: right;
}
div.post-author {
    float: left;
    margin-right: 10px;
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    min-height: 48px;
    padding-top: 10px;
}
div.content-order-by .order-nav a{
    border-radius: 20px;
    padding: 3px 10px;
    margin: 5px;
    border: 1px solid;
}
div.content-order-by .activeit a{
    background-color: rgba(57,41,15,0.8);
    color: white;
}
div.article-author{
    background: url("index_bg.png") no-repeat;
    background-position-x: right;
    background-size: cover;
    height: 100%;
    width: 20%;
    position: fixed;
    padding-top: 50px;
}
div.back-index li{
    margin: 10px 5px;
    height: 34px;
    width: 140px;
    list-style-type: none;
}
div.back-index a{
    padding: 2px 42px;
    background: none;
    border-radius: 20px;
    color: rgba(87,41,15,0.8);
    line-height: 0px;
}
div.article-author .profile{
    margin: 0 auto;
    width: 70%;
    text-align: center;
}
div.article-author .author_ext_link{
    margin: 0 auto;
    height: 50px;
    width: 150px;
    margin-top: 10px;
}
div.article-author .author_ext_link a{
    float: left;
    margin: 0 auto;
    width: 50px;
    line-height: 1.3em;
    padding: 0px;
}
div.author_ext_link p{
    margin: 0;
}
div.article-author .author_ext_link .border{
    border-left: solid 1px;
    border-right: solid 1px;
}
.article-head{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.article-head img{
     width: 150px;
     height: 150px;
}
.mobile-article-head{
    position: fixed;
    display: none;
    top: 10px;
    left: 20px;
}
.article-head img{
    border-radius: 50%;
}
div.article-btn-edit{
    text-align: right;
}
.article-author .author-about{
     width: 100%;
     margin-top: 10px;
}
a.btn-editpost{
    margin-top: 20px;
}
.edit-post, .edit-post .content, .edit-post .form,
.edit-post .form-group{
    height: 100%;
}
.edit-post .content, .edit-post .form{
    margin-top: -40px;
    padding-top: 40px;
}
.edit-post .form-group{
    margin: 0;
    padding-bottom: 10px;
}
.edit-post #submit{
    margin: 0;
}
a.article-username{
    font-size: 30px;
}
div.followed-by{
    text-align: center;
    height: 350px;
    border: rgba(0,0,0,0.1) solid 1px;
    border-radius: 5px;
    background: rgba(0,0,0,0.1);
    /*background-color:lightblue;*/
}
div.followed-by-border{
    width: 100%;
    border: solid 10px rgba(255,255,255,0.3);
}
div.user-img{
    height: 150px;
    padding: 40px;
    /*background-color: darkgray;*/
}
div.followed-info{
    margin-top: 100px;
}
a.back-main{
    margin-right: 10px;
}
.dropdown{
    position: fixed;
    right: 20px;
    background: #F6F6F6;
    top: 20px;
}
.dropdown .btn{
    padding: 0px;
    background: #F6F6F6;
    border: none;
}
.dropdown .btn-default{
    font-size: 1.8em;
}
.dropdown .dropdown-menu{
    left: auto;
    right: 0px;
}
div.article-content{
    margin-left: 30%;
    width: 50%;
}
div.article-body{
    margin-top:10px;
    padding-left: 10px;
    padding-bottom: 5px;
}
div.no-post{
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
div.index-body{
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
}
div.index-content{
    display: none;
    width: 55%;
    margin-left: 25%;
    height: 100%;
    float: left;
}
div.show{
    display: block;
}
div.mobile-index-content{
    margin: 40px 1em 0 1em;
    padding: 0;
}
div.index-content .page-content{
    margin: 10px;
    margin-left: 3em;
    height: 80%;
}
.page-nav ul.nav-pills li.active a{
    background-color: inherit;
    color: #555555;
    border-bottom: 2px solid;
    border-radius: 0px;
    margin-bottom: -2px;

}
div.index-body .center{
    width: 252px;
    font-size: 1.5em;
    margin: 0 auto;
    position: relative;
}
div.login-info .center{
    margin: 0 auto;
    float: none;
}
div.nav-header{
    padding-top: 19px;
}
div.nav-head .site{
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background:rgba(243,250,250,0.5);
}
div.nav-head .site ul{
    width: 60%;
    padding: 10px;
    float: none;
    margin: 0 auto;
}
div.nav-head .site li{
    margin: 10px;
}
div.nav-head .site a{
    border-radius: 20px;
    border: 1px solid;

}
div.index-opacity .nav-head{
    display: none;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgba(243, 250, 250, 0.4);
    top: 0;
}
div.index-font{
    font-size: 1.2em;
}
div.index-font .short-line{
    width: 15%;
    border-color: rgba(0,0,0,0);
    margin-top: 35px;
    margin-bottom: 30px;
}
div.index-font .long-line{
    width: 50%;
    margin-top: 25px;
}
div.page-nav{
    border-bottom:#fddddd 2px solid;
    width: 100%;
}
div.page-nav ul{
    margin-left: 2em;
}
div.center li{
    margin-left: 5px;
    margin-right: 5px;
}
div.center a{
    border: 1px solid;
    border-radius: 20px;
    color: rgba(87,41,15,0.8);
    line-height: 0px;
}
div.able-or-not{
    text-align: right;
}
textarea.form-control{
    height: 400px;
    width: 550px;
}
.article-author .back-index .btn-default{
    padding: 7px; 
}

.index-bgcolor{
    width: 100%;
    height: 100%;
    display: table;
    /*background-color: #005F6F;*/
    background: url('index_bg.png') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;

}
.index2 .index-bgcolor{
    background-position-x: -500px;
}

div.login{
    width: 100%;
    height: 100%;
    margin-top: -40px;
    padding-top: 40px;
    display: table;
    background: url('body_bg 2.jpg') no-repeat center;
    background-position-y: -5px;
}
div.login .login-site{
    width: 400px;
    margin: 0 auto;
}
div.login .form{
    width: 250px;
}
div.register .form{
    width: 263px;
    text-align: center;
}
div.login .form label{
    margin: 6px 10px 6px 0px;
}
div.login .form .checkbox label{
    float: none;
}
div.login-header p{
    margin: 0px;
}
div.login-header a{
    text-decoration: underline;
}
div.login .form .form-group{
    text-align: right;
    margin: 0 0 20px 0;
}
div.login .form .form-control{
    width: 195px;
    float: right;
}
div.index-opacity{
    display: table-cell;
    color: rgba(87,41,15,0.8);
    vertical-align: middle;
}

div.fans{
    width: 100%;
    background: rgba(255,255,255,0.3);
    float: left;
    padding: 5px;
}
div.fans-icon{
    float: left;
    height: 120px;
    width: 90px;
    /*background:#48525e;*/
    /*border-right: solid 1px;*/
    padding-top: 26px;
    padding-right: 20px;
}
li.fans{
    list-style-type: none;
    margin: 5px;
    height: 150px;
    float: left;
}
li.fans .fans-border{
    height: 150px;
    padding: 15px;
    background: rgba(0,0,0,0.1);
    /*border: rgba(0,0,0,0.1) solid 1px;*/
    border-radius: 5px;
    float: left;
}
div.fans-profile{
    margin: 5px;
    width: 190px;
    float: left;
}
div.fans-profile #follower-profile div{
    width: 190px;
    height: 2em;
    line-height: 2em;
    overflow: hidden;
}
body.index-show .dropdown, body.register_bgcolor .dropdown {
    display: none;
}
#follower-name{
    font-size: 25px;
    float: left;
    margin-left: 10px;
    text-align: center;
}
li.fans #is-follow-or-not{
    float: left;
}
#follower-profile{
    clear: left;
    margin-left: 10px;
}
#submit{
    margin-top:10px;
}
.register_bgcolor{
    background-color: #DBDBDB;
}
.register #submit{
    width: 100%;
}
.edit-profile .form-control{
    width: 80%;
    height: auto;
}
.edit-profile textarea.form-control{
    height: 10em;
}
#navbar{
    margin-bottom: 0px;
    min-height: 40px;
    width: 100%;
}
#navbar .navbar-nav a{
    padding: 10px 15px;
}
.navbar-nav{
    float: right;
}
#navbar .container .collapse{
    background: rgba(240,240,240,0.8);;
    width: 100%;
    position: fixed;
    top: 0;
}

@media (max-width: 768px) {
    .center-mobile{
        display: none;}

    #nav-head{
        display: block;
    }

    .short-line{
        display: none;
    }

    #left-title{
        display: none;
    }

    .body_bg .container_60{
        width: 100%;
    }
    div.fans{
        padding: 0px;
        background: none;
    }
    .container.body_bg{
        /*padding: 20px;*/
        padding-top: 3px;
    }
    li.fans{
        height: 170px;
        width: 100%;
        margin: 0px;
        margin-bottom: 3px;
        border: solid 10px rgba(255,255,255,0.4);
    }
    li.fans .fans-border{
         width: 100%;
    }
    .nav-mobile{
        display: block;
        margin: 0 auto;
        padding: 0px;
        font-size: 25px;
        float: none;
    }
    div.login .login-site{
         width: 300px;
    }
    .dropdown{
        position: fixed;
        top: 10px;
        right: 20px;
    }
    .quick-nav{
        height: 50px;
        position: fixed;
        top: 0px;
        width: 100%;
        background: rgba(255,230,175,0.4);
    }
    body.user_posts div.article-author .profile .article-userinfo{
         display: block;
         margin-top: -46px;
    }
    .followed-by-border {
        display: none;
    }
    body.index2 .dropdown{
        display: block;
    }
    .dropdown, .dropdown .btn{
        background: none;
    }
    body.post div.dropdown{
        background: none;
        display: block;
        top: 10px;
    }
    body.register_bgcolor #navbar .container .collapse{
        display: none;
    }
    ul.posts li.post{
        padding: 10px;
    }
    body.register_bgcolor div.dropdown{
        background: none;
        display: block;
        right: 10px;
        top: 5px;
    }
    body.register_bgcolor div.navbar{
        position: static;
    }

    body.post div.dropdown .btn{
        background: none;
    }
    div.article-author .profile div.mobile-article-head{
         display: block;
    }
    div.article-author  .profile div{
         display: none;
    }
    div.article-author{
        height: 40px;
        position: static;
        width: 100%;
    }
       div.article-content{
       width: 100%;
       margin: 0;
    }

    .container .navbar-collapse{
        margin-left: auto;
        display: block;
    }
    .container .navbar-collapse ul.navbar-nav{
         margin: 0px;
    }
    .navbar-collapse .navbar-nav li{
        float: left;
    }
    #nav-head .navbar-collapse li{
        float: none;
    }

}
