<div class="comment-body">
    <ul class="posts comments">
        {% for comment in comments %}
        <li class="post comment">
        <div class="comment-info">
            {% if comment.disabled and not censor %}
            <p>抱歉！该评论被协管员禁了</p>
            {% else %}
            <p>{{ comment.body }}</p>
            {% endif %}
        </div>
        <p><a href="{{url_for('main.user', username=comment.author.username)}}">{{ comment.author.username }}</a> 评论于: {{ moment().format('LLL')}}</p>
        {% if censor %}
            <br>
            <div class="able-or-not">
            {% if comment.disabled %}
            <a class="btn btn-default btn-xs" href="{{ url_for('.able_or_not', id=comment.id, page=page) }}">取消禁止</a>
            {% else %}
            <a class="btn btn-danger btn-xs" href="{{ url_for('.able_or_not', id=comment.id, page=page) }}">禁止评论</a>
            {% endif %}
            </div>
        {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
