{% extends "bootstrap/base.html" %}

{% block title %}Flask{% endblock %}


{% block head %}
{{ super() }}
<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename="styles.css") }}">
<script src='/static/jquery-2.2.2.min.js'></script>
<script src="/static/index.js"></script>
{% endblock %}


{% block navbar %}
<div class="navbar" role="navigation" id="navbar">
    <div class="container" >
        <div class="navbar-collapse collapse" >
            <ul class="nav navbar-nav">
                <li >
                    <a  href="/" >
                        <em class="glyphicon glyphicon-home"></em>
                        <em>主页</em>
                    </a>
                </li>
                
                {% if current_user.can(Permission.WRITE_ARTICLES) %}
                <li >
                <a  href="/writing" >
                    <em class="glyphicon glyphicon-pencil"></em>
                        <em>写文章</em>
                    </a>
                </li>
                {% endif  %}

                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.user', username=current_user.username) }}">
                    <em class="glyphicon glyphicon-user"></em>
                    <em>关于我</em>
                </a></li>
                    {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                    <li><a href="{{ url_for('main.comment_manage') }}">
                        <em class="glyphicon glyphicon-leaf"></em>
                        <em>管理评论</em></a＞ </li>
                    {% endif %}
                <li><a href="{{ url_for('auth.logout') }}">
                    <em class="glyphicon glyphicon-log-out"></em>
                    <em>登出</em></a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">
                    <em></em>
                    <em>登入</em>
                </a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div {% block content_container_attr%}{% endblock %}>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang("zh-cn") }}
{% endblock %}

