{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block content_container_attr %}
class="container body_bg"
{% endblock %}
{% block page_content %}
<div class="container_60">
    <div class="followed-by-border">
        <div class="followed-by">
            <div class="user-img">
                <!--<img src="{{ user.gravatar(200) }}">-->
                <img src="{{ url_for("static", filename="default_img.jpg") }}">
            </div>
            <div class="followed-info">
                <h1>{{ user.username }}</h1>
                <div>
                    <a href="{{ url_for('.index') }}" class="back-main btn btn-default">回到主页</a>
                    <a href="{{ url_for('.user', username=user.username) }}" class="back-article btn btn-default">
                        {% if current_user.username == user.username %}
                            {{ '我的文章' }}
                        {% else %}
                            {{ user.username }}的文章
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="fans">
        <ul class="followed-by">
            {% for follower in follows %}
                <li class="fans">
                    <div class="fans-border">
                        <div class="fans-icon">
                            <!--<img src="{{ follower.user.gravatar(70) }}" class="img-circle">-->
                            <img src="{{ url_for("static", filename="default_img.jpg") }}">
                        </div>
                        <div class="fans-profile">
                            <div id="follower-name">
                                <a href="{{ url_for('.user', username=follower.user.username) }}">{{ follower.user.username }}&nbsp;&nbsp; </a>
                            </div>
                            <div id="is-follow-or-not">{{ macros.follow_or_not( follower.user, current_user ) }}</div>
                            <div id="follower-profile">
                                <div>邮箱:<a href=" mailto:{{ follower.user.email }}"> {{ follower.user.email }} </a></div>
                                <div>{{ follower.user.location }}</div>
                                <div>{{ follower.user.about_me }}</div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="pagination">
        {{ macros.pagination_widget(pagination, endpoint, username=user.username) }}
    </div>

    {% endblock %}
    <hr>
</div>

