{% extends 'base.html' %}
{% import '_macros.html' as macro %}

{% block page_content %}

<div class="followed-by">
    <div class="user-img">
        <img src="{{ user.gravatar(200) }}">
    </div>
    <div class="followed-info">
        <h1>{{ user.username }}</h1>
        <div>
            <a href="{{ url_for('.index') }}" class="back-main btn btn-default">回到主页</a>
            <a href="{{ url_for('.user', username=user.username) }}" class="back-article btn btn-default">
                {% if current_user.username == user.username %}
                    {{ '我的文章' }}
                {% else %}
                    {{ user.username }}的文章
                {% endif %}
            </a>
        </div>
    </div>
</div>

<div class="fans">
    <ul class="followed-by">
        {% for follower in follows %}
            {% if current_user != follower.user %}
            <li class="fans">
                <div class="fans-icon">
                    <img src="{{ follower.user.gravatar(100) }}">
                </div>
                <div class="fans-profile">
                    <div id="follower-name">
                        <a href="{{ url_for('.user', username=follower.user.username) }}">{{ follower.user.username }}&nbsp;&nbsp; </p>
                    </div>
                    <div id="is-follow-or-not">
                        {% if current_user.is_following(follower.user) %}
                        <a href="{{ url_for('.unfollow', username=follower.user.username) }}" class="btn btn-default follow">已关注</a>
                        {% else %}
                        <a href="{{ url_for('.follow', username=follower.user.username) }}" class="btn btn-default follow">关注</a>
                        {% endif %}
                    </div>
                    <div id="follower-profile">
                        <p>邮箱:<a href=" mailto:{{ follower.user.email }}"> {{ follower.user.email }} </a></p>
                        <p>{{ follower.user.location }}</p>
                        <p>{{ follower.user.about_me }}</p>
                    </div>
                </div>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<div ></div>
{% endblock %}
<hr>


