{% extends "bootstrap/base.html"%}
{% import "_macros.html" as macros %}

{% block body_attribs %}
    class="index2"
{% endblock %}
{% block head %}
{{ super() }}
<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename="styles.css") }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="index2.css") }}"
<script src='/static/jquery-2.2.2.min.js'></script>
<script src="/static/index.js"></script>
{% endblock %}

{% block content %}
<!-- 中间页　-->
<div class="left-title" id="title">
    <div class="index-bgcolor">
        <div class="index-opacity ">
            <div class="index-body">
                <div class="index-font">
                    <h1>轻 翰</h1>
                    <hr class="long-line">
                    <p class="font">日微驻影，轻翰留书</p>
                    <hr class="short-line">
                </div>
                <div class="center center-mobile">
                    <ul class="nav navbar-nav ">
                        <li class="go-index"><a href="#">首页</a></li>
                        {% if current_user.is_authenticated %}
                        <li ><a href="{{url_for('auth.logout')}}">登出</a></li>
                        {% else %}
                        <li ><a href="{{url_for('auth.login')}}">登入</a></li>
                        {% endif %}
                        <li ><a href="#">关于</a></li>
                    </ul>
                </div>
            </div>
            {% if current_user.authenticated %}
            <div class="contain nav-head" id="nav-head">
                <div class="nav-header">
                    <button type="button" class="nav-mobile navbar-toggle glyphicon glyphicon-menu-hamburger" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only" >Toggle navigation</span>
                        <span class="icon-bar" ></span>
                        <span class="icon-bar" ></span>
                        <span class="icon-bar" ></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse site">
                    <ul class="nav navbar-nav">
                        <li class="go-index"><a href="#">首页</a></li>
                        <li ><a href="{{url_for('auth.login')}}">登入</a></li>
                        <li ><a href="#">关于</a></li>
                    </ul>
                </div>
            
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- 主页内容　-->
<div class="index-content show" id="index-content">
   <!-- <div class="page-nav nav nav-pills">-->
        <!--<ul class="nav nav-pills">-->
            <!--<li role="presentation" class="active"><a href="#">千絮</a></li>-->
            <!--<li role="presentation" ><a href="#">时光</a></li>-->
            <!--<li role="presentation"><a href="#">留香</a></li>-->
        <!--</ul>-->
    <!--</div>-->

    <div class="page-content">

        <div class="content-order-by">
            <ul class="nav nav-pills order-nav">
                <li role="presentation" {% if post_view == 'new'%}class="activeit"{% endif %}><a href="{{ url_for("main.new_posts") }}">最新</a></li>
                <li role="presentation" {% if post_view == 'read-hot'%}class="activeit"{% endif %}><a href="{{ url_for("main.read_hot") }}">最热</a></li>
                <li role="presentation" {% if post_view == 'look-around'%}class="activeit"{% endif %}><a href="{{url_for("main.look_around")}}">随便看</a></li>
            </ul>
        </div>
        <div class="posts">
            {% include "_posts.html"%}
        </div>
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.test') }}
        </div>
    </div>
    
    <div class="page-ext">
    </div>
</div>

<!-- 右上角索引　-->
{% include "_quick_nav.html" %}

{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang("zh-cn") }}
{% endblock %}

