{% block body_attribs %} data-spy="scroll" data-target="#navbar-vertical" {% endblock body_attribs %}

{% block body %}
<div class="head-show" > 
    <div class="color">
        <p>flask-web开发之博客</p>
    </div>
</div>
{{ super() }}
{% endblock %}

{% block content %}
<div class="list-group">
    <div id="about" class="block"></div>
    <div id="frame" class="block"></div>
    <div id="skill" class="block"></div>
    <div ></div>
</div>

<div id="navbar-vertical" class="nav-list">
    <ul class="nav nav-tabs" id="navbar-ul" role="tablist">
        <li><a href="#about">关于博客</a></li>
        <li><a href="#frame">框架介绍</a></li>
        <li><a href="#skill">知识技能</a></li>

    <ul>
</div>
{% endblock %}
