{% extends 'base.html' %}

{% block page_content %}


<div class="page-header">

    <div>
        <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(260) }}">
    </div>
    <div class="profile-header">
        <h1>{{ user.username }}</h1>
        {% if user.name or user.location %}
        <p>
        {% if user.real_name %}{{ user.real_name }}{% endif %}
        {% if user.location %}
        来自 <a href="http://maps.google.com/?q={{ user.location }}">
           {{ user.location }}
        </a>
        {% endif %}
        </p>
        {% endif %}

        {% if current_user.is_administrator() %}
        <p>邮箱:<a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}

        {% if user.about_me %}
        <p>{{ user.about_me }}</p>
        {% endif %}

        <p>注册时间 {{ moment(user.create_date).format('L')}}.</p>
        <p>最后一次登入时间 {{ moment().fromTime(user.last_login_date) }}.</p>

        {% if user == current_user %}
        <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">
            更改资料
        </a>
        {% elif current_user.is_following(user) %}
        <a href="{{ url_for('.unfollow', username=user.username) }}" class="following btn btn-default" > 已关注</a>
        {% else %}
        <a href="{{ url_for('.follow', username=user.username) }}" class="following btn btn-default" > 关注</a>
        {% endif %}
        {% if current_user.is_administrator() %}
        <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">
            编辑用户资料
        </a>
        {% endif %}
    </div>
    
</div>

<h3>{{ user.username }}的博客列表</h3>
<a href="{{ url_for('.followers', username=user.username) }}"> 粉丝 <span class="badge">{{ user.followers.count() }}</span> </a>

{% include '_posts.html' %}

{% endblock %}

